.version.index /* version checker */
{
	color: #0000ED;
	background-color: #2B90D2;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	background-color: transparent;
	border-width: 0px;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-image: none;
}

#u674
{
	z-index: 2;
	height: 918px;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	max-width: 100000px;
}

#u674-bw
{
	z-index: 2;
	height: 918px;
}

#u2182
{
	border-color: transparent;
	margin-right: -10000px;
	background-color: transparent;
	border-width: 0px;
	min-height: 98px;
	width: 210px;
	position: relative;
}

#u1075
{
	position: relative;
	background: transparent url("../images/identity-01.svg") no-repeat right bottom;
	background-size: contain;
}

.nosvg #u1075
{
	background-image: url('../images/identity-01_poster_u998.png');
}

#u1075:hover
{
	min-height: 0px;
	margin-top: 0px;
	background: transparent url("../images/identity-02.svg") no-repeat right bottom;
	background-size: contain;
}

.nosvg #u1075:hover
{
	background-image: url('../images/identity-02_poster_u1004.png');
}

#pu674,#pu837
{
	width: 100%;
}

#u837
{
	z-index: 3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	background-color: #FFFFFF;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

#u837-bw
{
	z-index: 3;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 1440px;
	}

	#u2182
	{
		z-index: 46;
		margin-top: 252px;
		left: 251px;
	}

	#u1075
	{
		z-index: 35;
		padding-bottom: 56px;
		top: -499px;
		margin-bottom: -300px;
		width: 26.39%;
		margin-left: 72.23%;
	}

	#u1075:hover
	{
		margin-right: 0px;
		margin-bottom: -300px;
		width: 26.39%;
		margin-left: 72.23%;
	}

	#u2833-3
	{
		z-index: 47;
		min-height: 45px;
		position: relative;
		margin-right: -10000px;
		margin-top: 199px;
		width: 11.85%;
		left: 41.06%;
		background: transparent url("../images/logo-behance.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2833-3
	{
		background-image: url('../images/logo-behance_poster_u2842.png');
	}

	#u2850-3
	{
		z-index: 50;
		min-height: 45px;
		position: relative;
		margin-right: -10000px;
		margin-top: 199px;
		width: 11.85%;
		left: 57.11%;
		background: transparent url("../images/logo-twitter.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2850-3
	{
		background-image: url('../images/logo-twitter_poster_u2876.png');
	}

	#u2859-3
	{
		z-index: 53;
		min-height: 45px;
		position: relative;
		margin-right: -10000px;
		margin-top: 199px;
		width: 11.85%;
		left: 73.43%;
		background: transparent url("../images/logo-facebook.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2859-3
	{
		background-image: url('../images/logo-facebook_poster_u2868.png');
	}

	#pu837
	{
		margin-top: -200px;
	}

	#u837,#u837-bw
	{
		height: 200px;
	}

	#menuu1736
	{
		z-index: 4;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		position: relative;
		margin-right: -10000px;
		left: 20px;
		width: 64.17%;
	}

	#u1765
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.81%;
	}

	#u1766
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		padding-bottom: 171px;
		position: relative;
		width: 100%;
	}

	#u1766:hover
	{
		-webkit-transition-duration: 0.4s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-color: #2CAC86;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1767-4
	{
		min-height: 29px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 85px;
		width: 100%;
	}

	#u1766:hover #u1767-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1766:active #u1767-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1766:hover #u1767-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1766:active #u1767-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1744
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.81%;
		left: 20.03%;
	}

	#u1747
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		padding-bottom: 171px;
		position: relative;
		width: 100%;
	}

	#u1747:hover
	{
		-webkit-transition-duration: 0.4s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-color: #2CAC86;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1750-4
	{
		min-height: 29px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 85px;
		width: 100%;
	}

	#u1766.MuseMenuActive #u1767-4,#u1747:hover #u1750-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1747:active #u1750-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1766.MuseMenuActive #u1767-4 p,#u1747:hover #u1750-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1747:active #u1750-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1737
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.81%;
		left: 40.05%;
	}

	#u1738
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		padding-bottom: 171px;
		position: relative;
		width: 100%;
	}

	#u1738:hover
	{
		-webkit-transition-duration: 0.4s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-color: #2CAC86;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1740-4
	{
		min-height: 29px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 85px;
		width: 100%;
	}

	#u1747.MuseMenuActive #u1750-4,#u1738:hover #u1740-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1738:active #u1740-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1747.MuseMenuActive #u1750-4 p,#u1738:hover #u1740-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1738:active #u1740-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1751
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.81%;
		left: 60.07%;
	}

	#u1754
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		padding-bottom: 171px;
		position: relative;
		width: 100%;
	}

	#u1754:hover
	{
		-webkit-transition-duration: 0.4s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-color: #2CAC86;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1755-4
	{
		min-height: 29px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 85px;
		width: 100%;
	}

	#u1738.MuseMenuActive #u1740-4,#u1754:hover #u1755-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1754:active #u1755-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1738.MuseMenuActive #u1740-4 p,#u1754:hover #u1755-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1754:active #u1755-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1758
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.92%;
		left: 80.09%;
	}

	#u1761
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		padding-bottom: 171px;
		position: relative;
		width: 100%;
	}

	#u1761:hover
	{
		-webkit-transition-duration: 0.4s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-color: #2CAC86;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1766:active,#u1747:active,#u1738:active,#u1754:active,#u1761:active
	{
		-webkit-transition-duration: 0.4s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-color: #494949;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1764-4
	{
		min-height: 29px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 85px;
		width: 100%;
	}

	#u1754.MuseMenuActive #u1755-4,#u1761:hover #u1764-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1761:active #u1764-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1761.MuseMenuActive #u1764-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 29px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u1754.MuseMenuActive #u1755-4 p,#u1761:hover #u1764-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1761:active #u1764-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1761.MuseMenuActive #u1764-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

	#u1730-10
	{
		z-index: 36;
		min-height: 143px;
		background-color: transparent;
		line-height: 25px;
		text-align: center;
		font-size: 21px;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 38px;
		width: 25.14%;
		margin-left: 74.87%;
		left: -20px;
	}

	#u1730-2,#u1730-4,#u1730-6
	{
		color: #22AC86;
	}
}

@media (min-width: 769px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 960px;
	}

	#u2182
	{
		z-index: 46;
		margin-top: 252px;
		left: 251px;
	}

	#u1075
	{
		z-index: 35;
		padding-bottom: 58px;
		top: -486px;
		margin-bottom: -286px;
		width: 37.3%;
		margin-left: 60.63%;
	}

	#u1075:hover
	{
		margin-right: 0px;
		margin-bottom: -286px;
		width: 37.3%;
		margin-left: 60.63%;
	}

	#u2833-3
	{
		z-index: 47;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 188px;
		width: 11.18%;
		left: 44.98%;
		background: transparent url("../images/logo-behance.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2833-3
	{
		background-image: url('../images/logo-behance_poster_u2842.png');
	}

	#u2850-3
	{
		z-index: 50;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 188px;
		width: 11.18%;
		left: 58.94%;
		background: transparent url("../images/logo-twitter.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2850-3
	{
		background-image: url('../images/logo-twitter_poster_u2876.png');
	}

	#u2859-3
	{
		z-index: 53;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 188px;
		width: 11.18%;
		left: 72.91%;
		background: transparent url("../images/logo-facebook.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2859-3
	{
		background-image: url('../images/logo-facebook_poster_u2868.png');
	}

	#pu837
	{
		margin-top: -201px;
	}

	#u837,#u837-bw
	{
		height: 200px;
	}

	#menuu840
	{
		z-index: 4;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		position: relative;
		margin-right: -10000px;
		left: 20px;
		width: 55.73%;
	}

	#u862
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.63%;
	}

	#u863
	{
		background-color: transparent;
		padding-bottom: 178px;
		position: relative;
		width: 100%;
	}

	#u863:hover
	{
		background-color: #999999;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u866-4
	{
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 89px;
		width: 100%;
	}

	#u863:hover #u866-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u863:active #u866-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u841
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.63%;
		left: 20%;
	}

	#u844
	{
		background-color: transparent;
		padding-bottom: 178px;
		position: relative;
		width: 100%;
	}

	#u844:hover
	{
		background-color: #999999;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u845-4
	{
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 89px;
		width: 100%;
	}

	#u863.MuseMenuActive #u866-4,#u844:hover #u845-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u844:active #u845-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u848
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.63%;
		left: 40%;
	}

	#u851
	{
		background-color: transparent;
		padding-bottom: 178px;
		position: relative;
		width: 100%;
	}

	#u851:hover
	{
		background-color: #999999;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u852-4
	{
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 89px;
		width: 100%;
	}

	#u844.MuseMenuActive #u845-4,#u851:hover #u852-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u851:active #u852-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u855
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.82%;
		left: 60%;
	}

	#u856
	{
		background-color: transparent;
		padding-bottom: 178px;
		position: relative;
		width: 100%;
	}

	#u856:hover
	{
		background-color: #999999;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u857-4
	{
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 89px;
		width: 100%;
	}

	#u851.MuseMenuActive #u852-4,#u856:hover #u857-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u856:active #u857-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u869
	{
		min-height: 200px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.82%;
		left: 80.19%;
	}

	#u870
	{
		background-color: transparent;
		padding-bottom: 178px;
		position: relative;
		width: 100%;
	}

	#u870:hover
	{
		background-color: #999999;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u863:active,#u844:active,#u851:active,#u856:active,#u870:active
	{
		background-color: #22AC86;
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u872-4
	{
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		top: 89px;
		width: 100%;
	}

	#u856.MuseMenuActive #u857-4,#u870:hover #u872-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u870:active #u872-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u870.MuseMenuActive #u872-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u863.MuseMenuActive #u866-4 p,#u844.MuseMenuActive #u845-4 p,#u851.MuseMenuActive #u852-4 p,#u856.MuseMenuActive #u857-4 p,#u870.MuseMenuActive #u872-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

	#u1227-10
	{
		z-index: 36;
		min-height: 111px;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 44px;
		width: 34.59%;
		margin-left: 65.42%;
		left: -20px;
	}

	#u1227-2,#u1227-4,#u1227-6
	{
		color: #22AC86;
	}
}

@media (min-width: 604px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.5846529070835px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u2182
	{
		z-index: 15;
		margin-top: 252px;
		left: 251px;
	}

	#pu1075
	{
		margin-top: -478px;
		width: 100%;
	}

	#u1075
	{
		z-index: 4;
		height: 280px;
		margin-right: -10000px;
		width: 47.27%;
		margin-left: 52.74%;
		left: -18px;
	}

	#u1075:hover
	{
		margin-right: -10000px;
		margin-bottom: 0px;
		height: 280px;
		width: 47.27%;
		margin-left: 52.74%;
		left: -18px;
	}

	.nosvg #u1075,.nosvg #u1075:hover
	{
		margin-left: 52.74%;
		left: -18px;
	}

	#u2859-3
	{
		z-index: 22;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 190px;
		width: 5.21%;
		left: 71.1%;
		background: transparent url("../images/logo-facebook.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2859-3
	{
		background-image: url('../images/logo-facebook_poster_u2868.png');
	}

	#u2850-3
	{
		z-index: 19;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 190px;
		width: 5.21%;
		left: 78.52%;
		background: transparent url("../images/logo-twitter.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2850-3
	{
		background-image: url('../images/logo-twitter_poster_u2876.png');
	}

	#u2833-3
	{
		z-index: 16;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 190px;
		width: 5.21%;
		left: 85.81%;
		background: transparent url("../images/logo-behance.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2833-3
	{
		background-image: url('../images/logo-behance_poster_u2842.png');
	}

	#pu837
	{
		margin-top: -200px;
	}

	#u837,#u837-bw
	{
		height: 200px;
	}

	#u1227-10
	{
		z-index: 5;
		min-height: 123px;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 38px;
		width: 42.45%;
		margin-left: 57.56%;
		left: -20px;
	}

	#u1227-2,#u1227-4,#u1227-6
	{
		color: #22AC86;
	}

	#pamphletu62034
	{
		z-index: 25;
		width: 0.01px;
		height: 137px;
		position: relative;
		margin-right: -10000px;
		margin-top: 25px;
		left: 41px;
	}

	#u62035
	{
		z-index: 26;
		width: 145px;
		position: relative;
		margin-right: -10000px;
	}

	#u62036
	{
		position: absolute;
		width: 145px;
		height: 137px;
		border-width: 0px;
		background: transparent url("../images/tablet%20menu.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036
	{
		background-image: url('../images/tablet%20menu_poster_u2505.png');
	}

	#u62036.PamphletThumbSelected
	{
		width: 145px;
		height: 137px;
		min-height: 0px;
		margin: 0px;
		background: transparent url("../images/close.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036.PamphletThumbSelected
	{
		background-image: url('../images/close_poster_u38963.png');
	}

	#u62045
	{
		position: absolute;
		width: 728px;
		border-width: 0px;
		background-color: transparent;
		top: -553px;
		left: -21px;
	}

	#u62045popup
	{
		z-index: 28;
	}

	#u62048
	{
		z-index: 29;
		width: 728px;
		height: 446px;
		border-width: 0px;
		background-color: #FFFFFF;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		padding-top: 51px;
		padding-bottom: 32px;
		margin-right: -10000px;
		position: relative;
	}

	#u62139-4
	{
		z-index: 30;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		width: 100%;
	}

	#u62146-4
	{
		z-index: 34;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 100%;
	}

	#u62161-4
	{
		z-index: 38;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 11px;
		position: relative;
		width: 100%;
	}

	#u62176-4
	{
		z-index: 42;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 100%;
	}

	#u62191-4
	{
		z-index: 46;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 11px;
		position: relative;
		width: 100%;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

@media (min-width: 481px) and (max-width: 603px)
{
	#muse_css_mq
	{
		background-color: #00025b;
	}

	#bp_603.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.5846529070835px;
		padding-bottom: 0px;
		max-width: 603px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u2182
	{
		z-index: 15;
		margin-top: 252px;
		left: 251px;
	}

	#pu1075
	{
		margin-top: -478px;
		width: 100%;
	}

	#u1075
	{
		z-index: 4;
		height: 280px;
		margin-right: -10000px;
		width: 58.05%;
		margin-left: 41.96%;
		left: -20px;
	}

	#u1075:hover
	{
		margin-right: -10000px;
		margin-bottom: 0px;
		height: 280px;
		width: 58.05%;
		margin-left: 41.96%;
		left: -20px;
	}

	.nosvg #u1075,.nosvg #u1075:hover
	{
		margin-left: 41.96%;
		left: -20px;
	}

	#u2859-3
	{
		z-index: 22;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 190px;
		width: 5.15%;
		left: 71.15%;
		background: transparent url("../images/logo-facebook.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2859-3
	{
		background-image: url('../images/logo-facebook_poster_u2868.png');
	}

	#u2850-3
	{
		z-index: 19;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 190px;
		width: 5.15%;
		left: 78.45%;
		background: transparent url("../images/logo-twitter.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2850-3
	{
		background-image: url('../images/logo-twitter_poster_u2876.png');
	}

	#u2833-3
	{
		z-index: 16;
		min-height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 190px;
		width: 5.15%;
		left: 85.74%;
		background: transparent url("../images/logo-behance.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u2833-3
	{
		background-image: url('../images/logo-behance_poster_u2842.png');
	}

	#pu837
	{
		margin-top: -200px;
	}

	#u837,#u837-bw
	{
		height: 200px;
	}

	#u1227-10
	{
		z-index: 5;
		min-height: 143px;
		background-color: transparent;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		width: 42.46%;
		margin-left: 57.55%;
		left: -20px;
	}

	#u1227-2,#u1227-4,#u1227-6
	{
		color: #22AC86;
	}

	#pamphletu62034
	{
		z-index: 25;
		width: 0.01px;
		height: 137px;
		position: relative;
		margin-right: -10000px;
		margin-top: 25px;
		left: 41px;
	}

	#u62035
	{
		z-index: 26;
		width: 145px;
		position: relative;
		margin-right: -10000px;
	}

	#u62036
	{
		position: absolute;
		width: 145px;
		height: 137px;
		border-width: 0px;
		background: transparent url("../images/tablet%20menu.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036
	{
		background-image: url('../images/tablet%20menu_poster_u2505.png');
	}

	#u62036.PamphletThumbSelected
	{
		width: 145px;
		height: 137px;
		min-height: 0px;
		margin: 0px;
		background: transparent url("../images/close.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036.PamphletThumbSelected
	{
		background-image: url('../images/close_poster_u38963.png');
	}

	#u62045
	{
		position: absolute;
		width: 603px;
		border-width: 0px;
		background-color: transparent;
		top: -553px;
		left: -41px;
	}

	#u62045popup
	{
		z-index: 28;
	}

	#u62048
	{
		z-index: 29;
		width: 603px;
		height: 446px;
		border-width: 0px;
		background-color: #FFFFFF;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		padding-top: 51px;
		padding-bottom: 32px;
		margin-right: -10000px;
		position: relative;
	}

	#u62139-4
	{
		z-index: 30;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		width: 93.37%;
		margin-left: 3.32%;
	}

	#u62146-4
	{
		z-index: 34;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 93.37%;
		margin-left: 3.32%;
	}

	#u62161-4
	{
		z-index: 38;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 11px;
		position: relative;
		width: 93.37%;
		margin-left: 3.32%;
	}

	#u62176-4
	{
		z-index: 42;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 93.37%;
		margin-left: 3.32%;
	}

	#u62191-4
	{
		z-index: 46;
		min-height: 80px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 11px;
		position: relative;
		width: 93.37%;
		margin-left: 3.32%;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

@media (min-width: 426px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.5846529070835px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u2182
	{
		z-index: 15;
		margin-top: 180px;
		left: 132px;
	}

	#u1075
	{
		z-index: 4;
		height: 187px;
		top: -329px;
		margin-bottom: -187px;
		width: 47.92%;
		margin-left: 26.05%;
		left: -2px;
	}

	#u1075:hover
	{
		margin-right: 0px;
		margin-bottom: -187px;
		height: 187px;
		width: 47.92%;
		margin-left: 26.05%;
		left: -2px;
	}

	.nosvg #u1075,.nosvg #u1075:hover
	{
		margin-left: 26.05%;
		left: -2px;
	}

	#pu837
	{
		margin-top: -143px;
	}

	#u837,#u837-bw
	{
		height: 143px;
	}

	#u3156-10
	{
		z-index: 5;
		min-height: 94px;
		background-color: transparent;
		text-align: right;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 21px;
		width: 50%;
		margin-left: 50%;
		left: -20px;
	}

	#u3156-2,#u3156-4,#u3156-6
	{
		color: #22AC86;
	}

	#pamphletu62034
	{
		z-index: 16;
		width: 0.01px;
		height: 112px;
		position: relative;
		margin-right: -10000px;
		margin-top: 10px;
		left: 26px;
	}

	#u62035
	{
		z-index: 17;
		width: 128px;
		position: relative;
		margin-right: -10000px;
	}

	#u62036
	{
		position: absolute;
		width: 128px;
		height: 112px;
		border-width: 0px;
		background: transparent url("../images/tablet%20menu.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036
	{
		background-image: url('../images/tablet%20menu_poster_u2505.png');
	}

	#u62036.PamphletThumbSelected
	{
		width: 128px;
		height: 112px;
		min-height: 0px;
		margin: 0px;
		background: transparent url("../images/close.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036.PamphletThumbSelected
	{
		background-image: url('../images/close_poster_u38963.png');
	}

	#u62045
	{
		position: absolute;
		width: 479px;
		border-width: 0px;
		background-color: transparent;
		top: -475px;
		left: -25px;
	}

	#u62045popup
	{
		z-index: 19;
	}

	#u62048
	{
		z-index: 20;
		width: 479px;
		height: 425px;
		border-width: 0px;
		background-color: #FFFFFF;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		padding-top: 11px;
		padding-bottom: 29px;
		margin-right: -10000px;
		position: relative;
	}

	#u62139-4
	{
		z-index: 21;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		width: 91.86%;
		margin-left: 3.97%;
	}

	#u62146-4
	{
		z-index: 25;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 91.86%;
		margin-left: 3.97%;
	}

	#u62161-4
	{
		z-index: 29;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 91.86%;
		margin-left: 3.97%;
	}

	#u62176-4
	{
		z-index: 33;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 91.86%;
		margin-left: 3.97%;
	}

	#u62191-4
	{
		z-index: 37;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 91.86%;
		margin-left: 3.97%;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

@media (min-width: 376px) and (max-width: 425px)
{
	#muse_css_mq
	{
		background-color: #0001a9;
	}

	#bp_425.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.5846529070834px;
		padding-bottom: 0px;
		max-width: 425px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u2182
	{
		z-index: 15;
		margin-top: 180px;
		left: 132px;
	}

	#u1075
	{
		z-index: 4;
		height: 173px;
		top: -313px;
		margin-bottom: -173px;
		width: 50.36%;
		margin-left: 24.83%;
		left: -1px;
	}

	#u1075:hover
	{
		margin-right: 0px;
		margin-bottom: -173px;
		height: 173px;
		width: 50.36%;
		margin-left: 24.83%;
		left: -1px;
	}

	.nosvg #u1075,.nosvg #u1075:hover
	{
		margin-left: 24.83%;
		left: -1px;
	}

	#pu837
	{
		margin-top: -140px;
	}

	#u837,#u837-bw
	{
		height: 140px;
	}

	#u3156-10
	{
		z-index: 5;
		min-height: 102px;
		background-color: transparent;
		text-align: right;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 18px;
		width: 49.89%;
		margin-left: 50.12%;
		left: -20px;
	}

	#u3156-2,#u3156-4,#u3156-6
	{
		color: #22AC86;
	}

	#pamphletu62034
	{
		z-index: 16;
		width: 0.01px;
		height: 100px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 21px;
	}

	#u62035
	{
		z-index: 17;
		width: 118px;
		position: relative;
		margin-right: -10000px;
	}

	#u62036
	{
		position: absolute;
		width: 118px;
		height: 100px;
		border-width: 0px;
		background: transparent url("../images/tablet%20menu.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036
	{
		background-image: url('../images/tablet%20menu_poster_u2505.png');
	}

	#u62036.PamphletThumbSelected
	{
		width: 118px;
		height: 100px;
		min-height: 0px;
		margin: 0px;
		background: transparent url("../images/close.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036.PamphletThumbSelected
	{
		background-image: url('../images/close_poster_u38963.png');
	}

	#u62045
	{
		position: absolute;
		width: 424px;
		border-width: 0px;
		background-color: transparent;
		top: -474px;
		left: -20px;
	}

	#u62045popup
	{
		z-index: 19;
	}

	#u62048
	{
		z-index: 20;
		width: 424px;
		height: 425px;
		border-width: 0px;
		background-color: #FFFFFF;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		padding-top: 11px;
		padding-bottom: 18px;
		margin-right: -10000px;
		position: relative;
	}

	#u62139-4
	{
		z-index: 21;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		width: 90.81%;
		margin-left: 4.49%;
	}

	#u62146-4
	{
		z-index: 25;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 90.81%;
		margin-left: 4.49%;
	}

	#u62161-4
	{
		z-index: 29;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 90.81%;
		margin-left: 4.49%;
	}

	#u62176-4
	{
		z-index: 33;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 90.81%;
		margin-left: 4.49%;
	}

	#u62191-4
	{
		z-index: 37;
		min-height: 75px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		width: 90.81%;
		margin-left: 4.49%;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

@media (min-width: 321px) and (max-width: 375px)
{
	#muse_css_mq
	{
		background-color: #000177;
	}

	#bp_375.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.5846529070834px;
		padding-bottom: 0px;
		max-width: 375px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u2182
	{
		z-index: 15;
		margin-top: 180px;
		left: 132px;
	}

	#u1075
	{
		z-index: 4;
		height: 159px;
		top: -298px;
		margin-bottom: -159px;
		width: 51.74%;
		margin-left: 24.14%;
		left: 1px;
	}

	#u1075:hover
	{
		margin-right: 0px;
		margin-bottom: -159px;
		height: 159px;
		width: 51.74%;
		margin-left: 24.14%;
		left: 1px;
	}

	.nosvg #u1075,.nosvg #u1075:hover
	{
		margin-left: 24.14%;
		left: 1px;
	}

	#pu837
	{
		margin-top: -141px;
	}

	#u837,#u837-bw
	{
		height: 141px;
	}

	#u3156-10
	{
		z-index: 5;
		min-height: 106px;
		background-color: transparent;
		text-align: right;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		width: 49.87%;
		margin-left: 50.14%;
		left: -20px;
	}

	#u3156-2,#u3156-4,#u3156-6
	{
		color: #22AC86;
	}

	#pamphletu62034
	{
		z-index: 16;
		width: 0.01px;
		height: 103px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 21px;
	}

	#u62035
	{
		z-index: 17;
		width: 124px;
		position: relative;
		margin-right: -10000px;
	}

	#u62036
	{
		position: absolute;
		width: 124px;
		height: 103px;
		border-width: 0px;
		background: transparent url("../images/tablet%20menu.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036
	{
		background-image: url('../images/tablet%20menu_poster_u2505.png');
	}

	#u62036.PamphletThumbSelected
	{
		width: 124px;
		height: 103px;
		min-height: 0px;
		margin: 0px;
		background: transparent url("../images/close.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036.PamphletThumbSelected
	{
		background-image: url('../images/close_poster_u38963.png');
	}

	#u62045
	{
		position: absolute;
		width: 374px;
		border-width: 0px;
		background-color: transparent;
		top: -378px;
		left: -20px;
	}

	#u62045popup
	{
		z-index: 19;
	}

	#u62048
	{
		z-index: 20;
		width: 374px;
		height: 317px;
		border-width: 0px;
		background-color: #FFFFFF;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		padding-top: 11px;
		padding-bottom: 22px;
		margin-right: -10000px;
		position: relative;
	}

	#u62139-4
	{
		z-index: 21;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		width: 88.24%;
		margin-left: 5.09%;
	}

	#u62146-4
	{
		z-index: 25;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 88.24%;
		margin-left: 5.09%;
	}

	#u62161-4
	{
		z-index: 29;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 88.24%;
		margin-left: 5.09%;
	}

	#u62176-4
	{
		z-index: 33;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 88.24%;
		margin-left: 5.09%;
	}

	#u62191-4
	{
		z-index: 37;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 13px;
		position: relative;
		width: 88.24%;
		margin-left: 5.09%;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 917.5846529070836px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u2182
	{
		z-index: 15;
		margin-top: 227px;
		left: 52px;
	}

	#u1075
	{
		z-index: 4;
		height: 152px;
		top: -287px;
		margin-bottom: -152px;
		width: 57.5%;
		margin-left: 21.26%;
		left: 0px;
	}

	#u1075:hover
	{
		margin-right: 0px;
		margin-bottom: -152px;
		height: 152px;
		width: 57.5%;
		margin-left: 21.26%;
		left: 0px;
	}

	.nosvg #u1075,.nosvg #u1075:hover
	{
		margin-left: 21.26%;
		left: 0px;
	}

	#pu837
	{
		margin-top: -135px;
	}

	#u837,#u837-bw
	{
		height: 135px;
	}

	#u3156-10
	{
		z-index: 5;
		min-height: 99px;
		background-color: transparent;
		text-align: right;
		color: #393939;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		margin-top: 16px;
		width: 59.07%;
		margin-left: 40.94%;
		left: -20px;
	}

	#u3156-2,#u3156-4,#u3156-6
	{
		color: #22AC86;
	}

	#pamphletu62034
	{
		z-index: 16;
		width: 0.01px;
		height: 86px;
		position: relative;
		margin-right: -10000px;
		margin-top: 28px;
		left: 20px;
	}

	#u62035
	{
		z-index: 17;
		width: 91px;
		position: relative;
		margin-right: -10000px;
	}

	#u62036
	{
		position: absolute;
		width: 91px;
		height: 86px;
		border-width: 0px;
		background: transparent url("../images/tablet%20menu.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036
	{
		background-image: url('../images/tablet%20menu_poster_u2505.png');
	}

	#u62036.PamphletThumbSelected
	{
		width: 91px;
		height: 86px;
		min-height: 0px;
		margin: 0px;
		background: transparent url("../images/close.svg") no-repeat left top;
		background-size: contain;
	}

	.nosvg #u62036.PamphletThumbSelected
	{
		background-image: url('../images/close_poster_u38963.png');
	}

	#u62045
	{
		position: absolute;
		width: 320px;
		border-width: 0px;
		background-color: transparent;
		top: -361px;
		left: -20px;
	}

	#u62045popup
	{
		z-index: 19;
	}

	#u62048
	{
		z-index: 20;
		width: 320px;
		height: 313px;
		border-width: 0px;
		background-color: #FFFFFF;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		padding-top: 8px;
		padding-bottom: 14px;
		margin-right: -10000px;
		position: relative;
	}

	#u62139-4
	{
		z-index: 21;
		width: 280px;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-left: 6.25%;
	}

	#u62146-4
	{
		z-index: 25;
		width: 280px;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		margin-left: 6.25%;
	}

	#u62161-4
	{
		z-index: 29;
		width: 280px;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		margin-left: 6.25%;
	}

	#u62176-4
	{
		z-index: 33;
		width: 280px;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		margin-left: 6.25%;
	}

	#u62191-4
	{
		z-index: 37;
		width: 280px;
		min-height: 50px;
		background-color: #494949;
		line-height: 53px;
		text-align: center;
		font-size: 24px;
		color: #FFFFFF;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-top: 12px;
		position: relative;
		margin-left: 6.25%;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	body
	{
		min-width: 320px;
	}
}

