	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 498.95024999999987px;
		padding-bottom: 0px;
		max-width: 1440px;
	}

	#page_position_content
	{
		margin-bottom: -2px;
	}

	#pu154
	{
		padding-bottom: 80px;
	}

	#u154
	{
		z-index: 199;
		height: 80px;
	}

	#u154-bw
	{
		z-index: 199;
	}

	#u172
	{
		z-index: 200;
		width: 275px;
		position: fixed;
		top: 26px;
		left: 50%;
		margin-left: -700px;
	}

	#u167
	{
		z-index: 201;
	}

	#menuu177
	{
		z-index: 202;
		width: 429px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: 271px;
	}

	#u185
	{
		width: 84px;
		min-height: 80px;
		position: relative;
		margin-right: -10000px;
	}

	#u188
	{
		width: 84px;
		padding-bottom: 61px;
		position: relative;
	}

	#u188:hover
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u188:active
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u189-4
	{
		width: 84px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 30px;
	}

	#u188:hover #u189-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u188:active #u189-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u223
	{
		width: 84px;
		min-height: 80px;
		position: relative;
		margin-right: -10000px;
		left: 86px;
	}

	#u226
	{
		width: 84px;
		padding-bottom: 61px;
		position: relative;
	}

	#u188.MuseMenuActive,#u226:hover
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u226:active
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u227-4
	{
		width: 84px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 30px;
	}

	#u188.MuseMenuActive #u189-4,#u226:hover #u227-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u226:active #u227-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u244
	{
		width: 84px;
		min-height: 80px;
		position: relative;
		margin-right: -10000px;
		left: 172px;
	}

	#u247
	{
		width: 84px;
		padding-bottom: 61px;
		position: relative;
	}

	#u226.MuseMenuActive,#u247:hover
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u247:active
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u248-4
	{
		width: 84px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 30px;
	}

	#u226.MuseMenuActive #u227-4,#u247:hover #u248-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u247:active #u248-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u265
	{
		width: 84px;
		min-height: 80px;
		position: relative;
		margin-right: -10000px;
		left: 258px;
	}

	#u266
	{
		width: 84px;
		padding-bottom: 61px;
		position: relative;
	}

	#u247.MuseMenuActive,#u266:hover
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u266:active
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u266.MuseMenuActive
	{
		width: 84px;
		min-height: 0px;
		margin: 0px;
	}

	#u267-4
	{
		width: 84px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 30px;
	}

	#u247.MuseMenuActive #u248-4,#u266:hover #u267-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u266:active #u267-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u266.MuseMenuActive #u267-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 84px;
		margin: 0px -10000px 0px 0px;
	}

	#u286
	{
		width: 85px;
		min-height: 80px;
		position: relative;
		margin-right: -10000px;
		left: 344px;
	}

	#u287
	{
		width: 85px;
		padding-bottom: 61px;
		position: relative;
	}

	#u287:hover
	{
		width: 85px;
		min-height: 0px;
		margin: 0px;
	}

	#u287:active
	{
		width: 85px;
		min-height: 0px;
		margin: 0px;
	}

	#u287.MuseMenuActive
	{
		width: 85px;
		min-height: 0px;
		margin: 0px;
	}

	#u288-4
	{
		width: 85px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 30px;
	}

	#u287:hover #u288-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 85px;
		margin: 0px -10000px 0px 0px;
	}

	#u287:active #u288-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 85px;
		margin: 0px -10000px 0px 0px;
	}

	#u287.MuseMenuActive #u288-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 85px;
		margin: 0px -10000px 0px 0px;
	}

	#u10418
	{
		min-height: 63px;
		padding-bottom: 17px;
	}

	#u10418_align_to_page
	{
		max-width: 1440px;
	}

	#u10421-4
	{
		z-index: 15;
		width: 184px;
		min-height: 46px;
		background-color: transparent;
		line-height: 43px;
		position: relative;
		margin-right: -10000px;
		margin-top: 17px;
		left: 20px;
	}

	#u10418-bw
	{
		min-height: 63px;
	}

	#u10424-6
	{
		z-index: 20;
		width: 277px;
		min-height: 18px;
		background-color: transparent;
		font-size: 18px;
		color: #494949;
		line-height: 22px;
		font-family: raleway, sans-serif;
		font-weight: 600;
		margin-left: 20px;
		margin-top: 30px;
		position: relative;
	}

	#u10424-2
	{
		color: #1ABA99;
	}

	#u10425
	{
		z-index: 26;
		width: 230px;
		margin-left: 20px;
	}

	#u10519-6
	{
		z-index: 27;
		min-height: 91px;
		background-color: transparent;
		line-height: 19px;
		text-align: left;
		font-size: 16px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 400;
		margin-left: 20px;
		margin-top: 62px;
		position: relative;
		width: 97.23%;
	}

	#pu11218
	{
		margin-top: 14px;
		width: 100%;
	}

	#u11218
	{
		z-index: 19;
		height: 2px;
		background-color: #2CAC86;
	}

	#u11218-bw
	{
		z-index: 19;
		margin-top: 76px;
		height: 2px;
	}

	#tab-panelu10629
	{
		z-index: 109;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 97.23%;
		left: 1.39%;
	}

	#u10630
	{
		z-index: 110;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u10647
	{
		z-index: 111;
		min-height: 28px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 65px;
		position: relative;
		margin-right: -10000px;
		width: 20%;
	}

	#u10647.TabbedPanelsTabSelected
	{
		border-width: 0px;
		border-color: transparent;
		min-height: 28px;
		width: 20%;
		margin: 0px -10000px 0px 0%;
		background: transparent url("../images/selected.svg") no-repeat center bottom;
		background-size: contain;
	}

	#u10650-4
	{
		z-index: 112;
		min-height: 28px;
		border-color: #999999;
		background-color: transparent;
		line-height: 28px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		top: 32px;
		width: 100%;
	}

	#u10647:hover #u10650-4
	{
		border-color: #999999;
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u10647:hover #u10650-4 p
	{
		color: #1FB18A;
		visibility: inherit;
	}

	#u10635
	{
		z-index: 116;
		min-height: 28px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 65px;
		position: relative;
		margin-right: -10000px;
		width: 20.08%;
		left: 19.93%;
	}

	#u10635.TabbedPanelsTabSelected
	{
		border-width: 0px;
		border-color: transparent;
		min-height: 28px;
		width: 20.08%;
		margin: 0px -10000px 0px 0%;
		background: transparent url("../images/selected.svg") no-repeat center bottom;
		background-size: contain;
	}

	#u10637-4
	{
		z-index: 117;
		min-height: 28px;
		border-color: #999999;
		background-color: transparent;
		line-height: 28px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		top: 32px;
		width: 100%;
	}

	#u10635:hover #u10637-4
	{
		border-color: #999999;
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u10635:hover #u10637-4 p
	{
		color: #1FB18A;
		visibility: inherit;
	}

	#u10631
	{
		z-index: 121;
		min-height: 28px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 65px;
		position: relative;
		margin-right: -10000px;
		width: 20.08%;
		left: 39.93%;
	}

	#u10631.TabbedPanelsTabSelected
	{
		border-width: 0px;
		border-color: transparent;
		min-height: 28px;
		width: 20.08%;
		margin: 0px -10000px 0px 0%;
		background: transparent url("../images/selected.svg") no-repeat center bottom;
		background-size: contain;
	}

	#u10632-4
	{
		z-index: 122;
		min-height: 28px;
		border-color: #999999;
		background-color: transparent;
		line-height: 28px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		top: 32px;
		width: 100%;
	}

	#u10631:hover #u10632-4
	{
		border-color: #999999;
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u10631:hover #u10632-4 p
	{
		color: #1FB18A;
		visibility: inherit;
	}

	#u10639
	{
		z-index: 126;
		min-height: 28px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 65px;
		position: relative;
		margin-right: -10000px;
		width: 20.08%;
		left: 59.93%;
	}

	#u10639.TabbedPanelsTabSelected
	{
		border-width: 0px;
		border-color: transparent;
		min-height: 28px;
		width: 20.08%;
		margin: 0px -10000px 0px 0%;
		background: transparent url("../images/selected.svg") no-repeat center bottom;
		background-size: contain;
	}

	#u10641-4
	{
		z-index: 127;
		min-height: 28px;
		border-color: #999999;
		background-color: transparent;
		line-height: 28px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		top: 32px;
		width: 100%;
	}

	#u10639:hover #u10641-4
	{
		border-color: #999999;
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u10639:hover #u10641-4 p
	{
		color: #1FB18A;
		visibility: inherit;
	}

	#u10643
	{
		z-index: 131;
		min-height: 28px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 65px;
		position: relative;
		margin-right: -10000px;
		width: 20.08%;
		left: 79.93%;
	}

	#u10643.TabbedPanelsTabSelected
	{
		border-width: 0px;
		border-color: transparent;
		min-height: 28px;
		width: 20.08%;
		margin: 0px -10000px 0px 0%;
		background: transparent url("../images/selected.svg") no-repeat center bottom;
		background-size: contain;
	}

	.nosvg #u10647.TabbedPanelsTabSelected,.nosvg #u10635.TabbedPanelsTabSelected,.nosvg #u10631.TabbedPanelsTabSelected,.nosvg #u10639.TabbedPanelsTabSelected,.nosvg #u10643.TabbedPanelsTabSelected
	{
		background-image: url('../images/selected_poster_u11049.png');
	}

	#u10644-4
	{
		z-index: 132;
		min-height: 28px;
		border-color: #999999;
		background-color: transparent;
		line-height: 28px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 600;
		position: relative;
		margin-right: -10000px;
		top: 32px;
		width: 100%;
	}

	#u10643:hover #u10644-4
	{
		border-color: #999999;
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u10647.TabbedPanelsTabSelected #u10650-4,#u10635.TabbedPanelsTabSelected #u10637-4,#u10631.TabbedPanelsTabSelected #u10632-4,#u10639.TabbedPanelsTabSelected #u10641-4,#u10643.TabbedPanelsTabSelected #u10644-4
	{
		border-width: 0px;
		border-color: transparent;
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 28px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u10643:hover #u10644-4 p
	{
		color: #1FB18A;
		visibility: inherit;
	}

	#u10647.TabbedPanelsTabSelected #u10650-4 p,#u10635.TabbedPanelsTabSelected #u10637-4 p,#u10631.TabbedPanelsTabSelected #u10632-4 p,#u10639.TabbedPanelsTabSelected #u10641-4 p,#u10643.TabbedPanelsTabSelected #u10644-4 p
	{
		color: #494949;
		visibility: inherit;
		font-family: raleway, sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#u10651
	{
		z-index: 136;
		background-color: transparent;
		position: relative;
		width: 100%;
	}

	#u10652
	{
		z-index: 137;
		border-width: 0px;
		background-color: transparent;
		padding-bottom: 23px;
		margin-right: -10000px;
		position: relative;
		width: 100%;
	}

	#u10653-13
	{
		z-index: 138;
		min-height: 134px;
		text-align: justify;
		font-size: 16px;
		color: #242424;
		line-height: 19px;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		width: 100%;
		background: transparent url("../images/stamp.svg") no-repeat right top;
		background-size: contain;
	}

	.nosvg #u10653-13
	{
		background-image: url('../images/stamp_poster_u12130.png');
	}

	#u10656
	{
		z-index: 151;
		border-width: 0px;
		background-color: transparent;
		padding-bottom: 23px;
		margin-right: -10000px;
		position: relative;
		width: 100%;
	}

	#u10657-13
	{
		z-index: 152;
		min-height: 134px;
		text-align: justify;
		font-size: 16px;
		color: #494949;
		line-height: 19px;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		width: 100%;
		background: transparent url("../images/ux%ef%80%a2ui.svg") no-repeat right top;
		background-size: contain;
	}

	.nosvg #u10657-13
	{
		background-image: url('../images/ux%ef%80%a2ui_poster_u135224.png');
	}

	#u10660
	{
		z-index: 165;
		border-width: 0px;
		background-color: transparent;
		padding-bottom: 26px;
		margin-right: -10000px;
		position: relative;
		width: 100%;
	}

	#u10661-11
	{
		z-index: 166;
		min-height: 131px;
		text-align: justify;
		font-size: 16px;
		color: #494949;
		line-height: 19px;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		width: 100%;
		background: transparent url("../images/web.svg") no-repeat right top;
		background-size: contain;
	}

	.nosvg #u10661-11
	{
		background-image: url('../images/web_poster_u12760.png');
	}

	#u10668
	{
		z-index: 177;
		border-width: 0px;
		background-color: transparent;
		padding-bottom: 32px;
		margin-right: -10000px;
		position: relative;
		width: 100%;
	}

	#u10669-11
	{
		z-index: 178;
		min-height: 125px;
		text-align: justify;
		font-size: 16px;
		color: #494949;
		line-height: 19px;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		width: 100%;
		background: transparent url("../images/arch.svg") no-repeat right top;
		background-size: contain;
	}

	.nosvg #u10669-11
	{
		background-image: url('../images/arch_poster_u12768.png');
	}

	#u10664
	{
		z-index: 189;
		border-width: 0px;
		background-color: transparent;
		padding-bottom: 11px;
		margin-right: -10000px;
		position: relative;
		width: 100%;
	}

	#u10667-9
	{
		z-index: 190;
		min-height: 146px;
		text-align: justify;
		font-size: 16px;
		color: #494949;
		line-height: 19px;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		width: 100%;
		background: transparent url("../images/video.svg") no-repeat right top;
		background-size: contain;
	}

	.nosvg #u10667-9
	{
		background-image: url('../images/video_poster_u12776.png');
	}

	#u10653-2,#u10657-2,#u10661-2,#u10669-2,#u10667-2
	{
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u10653-5,#u10653-7,#u10653-9,#u10653-11,#u10657-3,#u10657-5,#u10657-7,#u10657-9,#u10657-11,#u10661-3,#u10661-5,#u10661-7,#u10661-9,#u10669-3,#u10669-5,#u10669-7,#u10669-9,#u10667-3,#u10667-5,#u10667-7
	{
		font-family: raleway, sans-serif;
		font-weight: 500;
	}

	.TabbedPanelsTab /* tabset */
	{
		cursor: pointer;
	}

	#pamphletu35474
	{
		z-index: 33;
		width: 0.01px;
		height: 298px;
		margin-top: 113px;
		position: relative;
		margin-left: 0.07%;
	}

	#u35475
	{
		position: absolute;
		width: 1436px;
		background-color: transparent;
	}

	#u35475popup
	{
		z-index: 34;
	}

	#u35484
	{
		z-index: 35;
		width: 1436px;
		height: 158px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-top: 7px;
		padding-bottom: 108px;
		margin-right: -10000px;
		position: relative;
	}

	#u35487-4
	{
		z-index: 36;
		min-height: 36px;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #2CAC86;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		width: 41.37%;
		margin-left: 29.32%;
		left: 1px;
	}

	#u35486-4
	{
		z-index: 40;
		min-height: 73px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 500;
		margin-top: 27px;
		position: relative;
		width: 81.06%;
		margin-left: 9.48%;
		left: 1px;
	}

	#u35485-4
	{
		z-index: 44;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 200;
		position: relative;
		width: 44.99%;
		margin-left: 27.51%;
		left: -63px;
	}

	#u35488
	{
		z-index: 48;
		width: 1436px;
		height: 158px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-top: 7px;
		padding-bottom: 108px;
		margin-right: -10000px;
		position: relative;
	}

	#u35490-4
	{
		z-index: 49;
		min-height: 47px;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #2CAC86;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		width: 41.37%;
		margin-left: 29.32%;
		left: 1px;
	}

	#u35489-4
	{
		z-index: 53;
		min-height: 55px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 500;
		margin-top: 17px;
		position: relative;
		width: 71.52%;
		margin-left: 14.25%;
		left: -1px;
	}

	#u35491-4
	{
		z-index: 57;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 200;
		margin-top: 17px;
		position: relative;
		width: 44.99%;
		margin-left: 27.51%;
		left: -81px;
	}

	#u35480
	{
		z-index: 61;
		width: 1436px;
		height: 219px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-top: 5px;
		padding-bottom: 49px;
		margin-right: -10000px;
		position: relative;
	}

	#u35482-4
	{
		z-index: 62;
		min-height: 47px;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #2CAC86;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		width: 41.37%;
		margin-left: 29.32%;
		left: -1px;
	}

	#u35481-4
	{
		z-index: 66;
		min-height: 114px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 500;
		margin-top: 18px;
		position: relative;
		width: 69.23%;
		margin-left: 15.39%;
		left: 1px;
	}

	#u35483-4
	{
		z-index: 70;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 200;
		margin-top: 17px;
		position: relative;
		width: 44.99%;
		margin-left: 27.51%;
		left: -173px;
	}

	#u35492
	{
		z-index: 74;
		width: 1436px;
		height: 174px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-top: 7px;
		padding-bottom: 92px;
		margin-right: -10000px;
		position: relative;
	}

	#u35493-4
	{
		z-index: 75;
		min-height: 52px;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #2CAC86;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		width: 41.37%;
		margin-left: 29.32%;
		left: -2px;
	}

	#u35495-4
	{
		z-index: 79;
		min-height: 75px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 500;
		margin-top: 20px;
		position: relative;
		width: 51.05%;
		margin-left: 24.48%;
		left: -2px;
	}

	#u35494-4
	{
		z-index: 83;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 200;
		margin-top: 5px;
		position: relative;
		width: 33.85%;
		margin-left: 33.08%;
		left: 38px;
	}

	#u35476
	{
		z-index: 87;
		width: 1436px;
		height: 190px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-top: 8px;
		padding-bottom: 75px;
		margin-right: -10000px;
		position: relative;
	}

	#u35478-4
	{
		z-index: 88;
		min-height: 50px;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		color: #2CAC86;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		width: 41.37%;
		margin-left: 29.32%;
		left: -1px;
	}

	#u35477-6
	{
		z-index: 92;
		min-height: 77px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 500;
		margin-top: 20px;
		position: relative;
		width: 62.61%;
		margin-left: 18.7%;
		left: -2px;
	}

	#u35479-4
	{
		z-index: 98;
		background-color: transparent;
		line-height: 22px;
		font-size: 18px;
		color: #494949;
		font-family: raleway, sans-serif;
		font-weight: 200;
		margin-top: 21px;
		position: relative;
		width: 44.99%;
		margin-left: 27.51%;
		left: 104px;
	}

	#u35500
	{
		z-index: 102;
		width: 161px;
		margin-bottom: -1px;
		position: relative;
		margin-right: -10000px;
		margin-top: 278px;
		left: 638px;
	}

	#u35503
	{
		position: absolute;
		width: 19px;
		height: 19px;
		border-style: solid;
		border-width: 1px;
		border-color: #DEDEDE;
		background-color: transparent;
		border-radius: 100px;
	}

	#u35503:hover
	{
		border-color: #999999;
		background-color: transparent;
		width: 19px;
		height: 19px;
		min-height: 0px;
		margin: 0px;
	}

	#u35501
	{
		position: absolute;
		width: 19px;
		height: 19px;
		border-style: solid;
		border-width: 1px;
		border-color: #DEDEDE;
		background-color: transparent;
		border-radius: 100px;
		left: 35px;
	}

	#u35501:hover
	{
		border-color: #999999;
		background-color: transparent;
		width: 19px;
		height: 19px;
		min-height: 0px;
		margin: 0px;
	}

	#u35504
	{
		position: absolute;
		width: 19px;
		height: 19px;
		border-style: solid;
		border-width: 1px;
		border-color: #DEDEDE;
		background-color: transparent;
		border-radius: 100px;
		left: 70px;
	}

	#u35504:hover
	{
		border-color: #999999;
		background-color: transparent;
		width: 19px;
		height: 19px;
		min-height: 0px;
		margin: 0px;
	}

	#u35502
	{
		position: absolute;
		width: 19px;
		height: 19px;
		border-style: solid;
		border-width: 1px;
		border-color: #DEDEDE;
		background-color: transparent;
		border-radius: 100px;
		left: 105px;
	}

	#u35502:hover
	{
		border-color: #999999;
		background-color: transparent;
		width: 19px;
		height: 19px;
		min-height: 0px;
		margin: 0px;
	}

	#u35505
	{
		position: absolute;
		width: 19px;
		height: 19px;
		border-style: solid;
		border-width: 1px;
		border-color: #DEDEDE;
		background-color: transparent;
		border-radius: 100px;
		left: 140px;
	}

	#u35505:hover
	{
		border-color: #999999;
		background-color: transparent;
		width: 19px;
		height: 19px;
		min-height: 0px;
		margin: 0px;
	}

	#u35503.PamphletThumbSelected,#u35501.PamphletThumbSelected,#u35504.PamphletThumbSelected,#u35502.PamphletThumbSelected,#u35505.PamphletThumbSelected
	{
		border-color: #FFFFFF;
		background-color: #1FB18A;
		border-radius: 100px;
		width: 19px;
		height: 19px;
		min-height: 0px;
		margin: 0px;
	}

	#u28245
	{
		z-index: 108;
		margin-top: 70px;
		width: 13.96%;
		margin-left: 42.99%;
	}

	#pu31618
	{
		margin-top: -2px;
	}

	#u31618
	{
		height: 381px;
	}

	#u31618-bw
	{
		margin-top: 10px;
		height: 381px;
	}

	#u31715
	{
		min-height: 312px;
		padding-bottom: 64px;
	}

	#u31715_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u32360
	{
		width: 75px;
		height: 75px;
		margin-top: 237px;
		margin-left: 50%;
		left: -442px;
	}

	#u32360:hover
	{
		margin-top: 237px;
		width: 75px;
		height: 75px;
		margin-left: 50%;
		left: -442px;
	}

	#u32333
	{
		width: 75px;
		height: 75px;
		margin-top: 237px;
		margin-left: 50%;
		left: -280px;
	}

	#u32333:hover
	{
		margin-top: 237px;
		width: 75px;
		height: 75px;
		margin-left: 50%;
		left: -280px;
	}

	#u32315
	{
		width: 75px;
		height: 75px;
		margin-top: 237px;
		margin-left: 50%;
		left: -118px;
	}

	#u32315:hover
	{
		margin-top: 237px;
		width: 75px;
		height: 75px;
		margin-left: 50%;
		left: -118px;
	}

	#u32310
	{
		width: 75px;
		height: 75px;
		margin-top: 237px;
		left: 43px;
	}

	#u32310:hover
	{
		margin-top: 237px;
		width: 75px;
		height: 75px;
		left: 43px;
	}

	#u32324
	{
		width: 75px;
		height: 75px;
		margin-top: 237px;
		margin-left: 50%;
		left: 205px;
	}

	#u32324:hover
	{
		margin-top: 237px;
		width: 75px;
		height: 75px;
		margin-left: 50%;
		left: 205px;
	}

	#u32342
	{
		width: 75px;
		height: 75px;
		margin-top: 237px;
		margin-left: 50%;
		left: 367px;
	}

	#u32342:hover
	{
		margin-top: 237px;
		width: 75px;
		height: 75px;
		margin-left: 50%;
		left: 367px;
	}

	#u31715-bw
	{
		z-index: 3;
		min-height: 312px;
	}

	#u135089-4
	{
		min-height: 20px;
	}

	#u135089-4-bw
	{
		min-height: 20px;
		margin-top: 335px;
	}

